<div class="wrapInfoAndLogin">
  <div class="login-section-container">
    <div class="login-section">
      <h1>Welcome to user</h1>
      <p class="sub-header">Upload and manage your properties and be seen by millions of buyers world wide.</p>
      <div class="login-notice">
        <div class="hidden box rui-message rui-info" id="no_cookies"></div>
        <noscript>
          &lt;div class='rui-message rui-info'&gt; Agent Admin requires JavaScript to sign in. Please change the browser settings to allow JavaScript. &lt;/div&gt;
        </noscript>
      </div>
      <div class="input-panel">
        <form autocomplete="on" class="new_user" id="new_user" action="sign_in" accept-charset="UTF-8" method="post">
          <div class="username-area">
            <input placeholder="Email address" class="rui-input" tabindex="1" type="text" name="user[email]" id="user_email">
          </div>
          <div class="user-password-area">
            <input placeholder="Password" tabindex="2" class="rui-input" type="password" name="user[password]" id="user_password">
          </div>
          <p class="click-link-info">
            REA Group will never ask you to click a link from an email or SMS to log into Agent Admin. If unsure please contact us.
          </p>
          <div class="submit-area">
            <!--[if IE ]> <input class='hidden-button' type='submit'> <![endif]-->
            <input type="submit" name="commit" value="Sign In" class="rui-button-brand rui-button-disabled" tabindex="3" disabled="disabled">
          </div>
        </form>
      </div>
      <div class="forgot-password">
        <a href="/devise/users/password/new" tabindex="-1">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>
