<footer class="footer_area">
  <div class="footer_copywrite_area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Footer Copwrite Area -->
          <div class="footer_bottom text-center">
            <p>© 2017
              <a href="#">Asahi town</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
